@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    $primary-color:#d65108;
    $secondary-color:#b54507;

body{
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.6;
    font-family:  'Poppins', sans-serif;;
}

.btn{
    font-family: inherit;
    outline: 0;
    font-size: 1.05rem;
    cursor: pointer;
}

.text{
    opacity: 0.8rem;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.meal-img{
    height: 40%;
    width: 40%;
    
}

.container{
    min-height: 100vh;
    // min-width: 80%;

    .meal-wrapper{
        margin: 0 auto;
        max-width: 1280px;
        padding: 2rem;
        background: #fff;
        text-align: center;

        .meal-search{
            margin: 2rem 0;
            .meal-search-box{
                margin: 1.2rem 0;
                display: flex;
                align-items: center;
                .search-control, .search-btn {
                    width: 100% ;
                  }

                  .search-control{
                      font-size: 1.2rem;
                      padding: 0 1rem;
                      font-family: inherit;
                      outline: 0;
                      border: 1px solid var($secondary-color);
                      color: var($primary-color);
                      border-top-left-radius: 2rem;
                      border-bottom-left-radius: 2rem;

                  }
                  .search-control::placeholder{
                      color: var($secondary-color);
                  }

                  .search-btn{
                      width: 50px;
                      height: 50px;
                      font-family: inherit;
                      background: var($primary-color)
                  }
                
                
            }
        }
        .meal-search cite{
            font-size: 1rem ;
        }
    }
}
 
